body {
    background-image: url("https://i.pinimg.com/736x/dd/4d/4a/dd4d4a24fb098192797d6289dce59438.jpg");
}

#nav {
    background-image: url("https://i.pinimg.com/736x/dd/4d/4a/dd4d4a24fb098192797d6289dce59438.jpg");
    display: flex;
    justify-content: start;
    flex-direction: row;
    position: sticky;
    top: 0px;
    width: 100%;
}

.navLinks {
    padding: 5px 20px;
    font-size: 20px;
    border: 5px double black;
    border-radius: 25px;
    margin: 10px;
}

.navLinks:hover {
    background-color: rgb(56, 56, 56);
    color: rgb(240, 240, 240);
    border: 5px double rgb(240, 240, 240);
    cursor: pointer;
}

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
}

.card {
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    border: 2px solid black;
    border-radius: 10px;
}

.card:hover {
    border: 3px solid black;
}

.title {
    font-size: 25px;
    padding: 10px;
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img {
    width: 95%;
}

.text {
    width: 85%;
    padding: 15px;
}

#form {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;
}

.inputs,
#send {
    justify-self: center;
    grid-column: 1;
    align-self: center;
    width: 80%;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
    margin: 5px;
}

#send {
    width: 50%;
}

.textarea {}

.inputs:focus,
#send:hover {
    box-shadow: 5.5px 7px 0 black;
}